@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');


body{
    background-image: url(/imagenes/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

section{

  display: flex;
  width: 200px;
  height: 350px;
  align-tracks: center;
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-50%, -50%);
  

}

.image {
  width: 0px;
  flex-grow: 1;
  object-fit:fill;
  opacity: .8;
  transition: .5s ease;
  
}

section img:hover{
  cursor: crosshair;
  width: 500px;
  opacity: 1;
  filter: contrast(120%);

}

.contenedor{
  width: 100%;
  display: relative;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-left: -40px;
  
  
}

.contenedor figure{
  position:relative;
  height: 450px;
  cursor: pointer;
  width: 160px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
  
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
  margin-inline-end: auto;
  
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,103,123,0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img{
  transform: scale(1.4);
}
.contenedor figure .capa h3{
  color: #fff;
  font-weight: 300;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
   margin-top: 30px;
}
.contenedor figure .capa p{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}




.titulo{
    width: 400px;
    color: #f72;
    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 5px #ffff;

}



.compartir {
    position: absolute;
    width: 400px;
    left: 20%;
    margin-left: -230px;
    top: 85%;
    margin-top: -40px;
    border-radius: 80px;
  }
  .compartir span {
    width: 200px;
    line-height: 80px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  .compartir nav {
    font-size: 0;
  }
  .compartir a {
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(180deg, #f3d597, #ffc4a6);
    color: #ffffff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  }
  .compartir a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
  }
  .compartir a:nth-child(1):hover {
    background-color: #1693a5;
  }
  .compartir a:nth-child(2):hover {
    background-color: #050608;
  }
  .compartir a:nth-child(3):hover {
    background-color: #dd4ec5;
  }
  .compartir a:nth-child(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
  }
  .compartir a:nth-child(4):hover {
    background-color: #000000;
  }
  .compartir:hover span, .compartir.hover span {
    opacity: 0;
  }
  .compartir:hover a {
    margin: 0 10px;
    color: #413838;
    font-size: 28px;
    border-radius: 50%;
    background: #ffffff15; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);; 
    -webkit-backdrop-filter: blur(2px);; 

  }
  .compartir:hover a:hover {
    color: #fff;
  }


